{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
BaronWard - Awesome Tournaments
{% endblock %}
</title>
{% block content %}
	<div class="col-xs-12">
	    <div class="jumbotron">
	      <div class="container">
	        <h1>Tournaments with Friends</h1>
	        <p>Want to play tournaments with your friends, but are worried about being competitive? BaronWard has the answer. Come join our rating-capped tournaments and start winning prizes with your friends now!</p>
	        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
	      </div>
	    </div>
	</div>
    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-cs-12, col-md-4">
          <h2>Play with friends</h2>
          <p>Make a team, invite your friends, and compete! Teams compete in BaronWard tournaments, not individuals. Practice, strategize, and learn with your friends as you experience team-based competive League of Legends.</p>
          <p><a class="btn btn-default" href="/teams/create" role="button">Make a team</a></p>
        </div>
        <div class="col-xs-12 col-md-4">
          <h2>Compete against peers for prizes</h2>
          <p>BaronWard tournaments limit registration based on rating tiers. Play in matches you can compete in for Riot sponsored prizes, including RP and a chance for the Triumphant Ryze skin</p>
          <p><a class="btn btn-default" href="/tournaments/upcoming" role="button">Find a tournament</a></p>
       </div>
        <div class="col-xs-12 col-md-4">
          <h2>Track your stats</h2>
          <p>BaronWard tracks the statistics of each match you play, so you can analyze your performance and that of your competitors. Immortalize your pentakills and show them off on your profile</p>
          <p><a class="btn btn-default" href="/accounts/profile" role="button">View your profile</a></p>
        </div>
      </div>
{% endblock %}


