{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
BaronWard - Create Team
{% endblock %}
</title>
{% block content %}
<h2>Create a team</h2>
<form action="/teams/create/" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form%}
  	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Create
    </button>
  {% endbuttons %}
</form>
{% endblock %}


