{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
BaronWard - Team Search
{% endblock %}
{% block content %}
<div class="col-xs-12">
	<h1> Team Search</h1>
	<div class="container">
		<form action="/teams/search/" method="post" class="form">
		  {% csrf_token %}
		  {% bootstrap_form form %}
		  {% buttons %}
		    <button type="submit" class="btn btn-primary">
		      Search
		    </button>
		  {% endbuttons %}
		</form>
	</div>
</div>
<div class="col-xs-12">
	<h2>Found Teams</h2>
	<div class="table-striped">
		<table class="table">
			<tr>
				<th> Team Name </th>
				<th> Tag </th>
			</tr>
		{% for team in teams %}
			<tr>
				<td><a href="/teams/{{team.name}}">{{team.name}}</a></td>
				<td>{{team.tag}}</td>
			</tr>
		{% endfor %}
		</table>
	</div>
</div>
{% endblock %}


