{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
Team: {{team.name}}
{% endblock %}
{% block content %}
<h1>Team: {{team.name}} ({{team.tag}})</h1>
{% if is_member %}
	{% if not is_captain %}
	<a href="/teams/{{team.name}}/quit" class="btn btn-danger">Quit Team</a>
	{% endif %}
{% else %}
	<form action="/teams/{{team.name}}/join/" method="post" class="form-inline">
	  {% csrf_token %}
	  {% bootstrap_form join_form layout='inline' %}
	  {% buttons %}
	    <button type="submit" class="btn btn-primary">
	      {% bootstrap_icon "star" %} Join Team
	    </button>
	  {% endbuttons %}
	</form>
{% endif %}
{% bootstrap_messages %}
<h2>Members</h2>
<div class="table-striped">
<table class="table">
	<tr>
		<th> Account Name </th>
		<th> Summoner Name </th>
		<th> Join Date </th>
		{% if is_captain %}
		<th>Actions</th>
		{% endif %}	
	</tr>
{% for member in members %}
	{% if member.active %}
	<tr>
		<td>{% if member.is_captain %}{% bootstrap_icon "king" title="Captain"%} {% endif %}<a href="/accounts/profile/{{member.user.username}}">{{member.user.username}}</a></td>
		<td><a href="http://na.op.gg/summoner/userName={{member.user.summonerprofile.summoner_name}}">{{member.user.summonerprofile.summoner_name}}</a></td>
		<td>{{member.join_date}}</td>
		{% if is_captain %}
			<td>
			{% if member.user != user %}
			<a href="/teams/{{team.name}}/kick/{{member.user.username}}" class="btn btn-danger">Kick</a>
			<a href="/teams/{{team.name}}/promote/{{member.user.username}}" class="btn btn-success">Promote</a>
			</td>
			{% endif %}
		{% endif %}
	</tr>
	{% endif %}
{% endfor %}
</table>
</div>
{% endblock %}


