{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
BaronWard - Link Account
{% endblock %}
</title>
{% block content %}
<h1> Link Summoner Account </h1>
<p>Rename one of your rune pages to your link code, then click "Link"</p>
<p> <strong>Your link code: </strong>{{user.summonerprofile.link_password}}</p>
<form action="/accounts/link/" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form%}
  	{# Display django.contrib.messages as Bootstrap alerts #}
	{% bootstrap_messages %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Link
    </button>
  {% endbuttons %}
</form>
{% endblock %}


