{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
BaronWard - Log in
{% endblock %}
{% block content %}
<form action="/accounts/login/" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Login
    </button>
  {% endbuttons %}
</form>
{% endblock %}


