{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
Account Profile
{% endblock %}
{% block content %}
<h1>Welcome {{user.username}}</h1>
Your summoner name is {{user.summonerprofile.summoner_name}}
	{% bootstrap_messages %}
<h2>Your Teams</h2>
{% if teams %}
	{% include 'teams.html' %}
{% else %}
<p>Looks like you are not on any teams yet. Either <a href="/teams/create">create a team</a> or <a href="/teams/search">find a team</a> to join.
{% endif %}
{% endblock %}


