{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
Account Profile
{% endblock %}
{% block content %}
<h1>User: {{user.username}}</h1>
<p>Summoner Name: {{user.summonerprofile.summoner_name}}</p>
<h2>Teams</h2>
{% if teams %}
	{% include 'teams.html' %}
{% else %}
<p>No active teams
{% endif %}
{% endblock %}


