{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
BaronWard - Register Account
{% endblock %}
{% block content %}
<form action="/accounts/register/" method="post" class="form">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      {% bootstrap_icon "star" %} Submit
    </button>
  {% endbuttons %}
</form>
{% endblock %}


