<div class="table-striped">
<table class="table">
	<tr>
		<th> Team Name </th>
		<th> Tag </th>
		<th> Roster Locked </th>
	</tr>
{% for team in teams %}
	<tr>
		<td><a href="/teams/{{team.name}}">{{team.name}}</a></td>
		<td>{{team.tag}}</td>
		<td> 
			{% if team.roster_locked %}
			Locked 
			{% else %}
			Unlocked
			{% endif %}
		</td>
	</tr>
{% endfor %}
</table>
</div>


