{% extends 'base.html' %}
{% load bootstrap3 %}
{% block title %}
BaronWard - User Search
{% endblock %}
{% block content %}
<div class="col-xs-12">
	<h1>User Search</h1>
	<div class="container">
		<form action="/accounts/search/" method="post" class="form">
		  {% csrf_token %}
		  {% bootstrap_form form %}
		  {% buttons %}
		    <button type="submit" class="btn btn-primary">
		      Search
		    </button>
		  {% endbuttons %}
		</form>
	</div>
</div>
<div class="col-xs-12">
	<h2>Found Users</h2>
	<div class="table-striped">
		<table class="table">
			<tr>
				<th> Account Name </th>
				<th> Summoner Name </th>
			</tr>
		{% for user in users %}
			<tr>
				<td><a href="/users/{{user.username}}">{{user.username}}</a></td>
				<td>
					{% if user.summonerprofile.verified_summoner %}
						{{user.summonerprofile.summoner_name}}
					{% else %}
						N/A
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</table>
	</div>
</div>
{% endblock %}


